extends top-layout

block content
  .category-navbar
    ul
      each category in categories
        li.category-navbar-list
          a(href='/category/' + category.url)= category.name
  block main
